# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import math
from statsmodels.stats import weightstats as stests
from statsmodels.stats.proportion import proportions_ztest as z_test

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [6]:
salaries[salaries['Salary or Hourly'] == 'Hourly'].isnull().sum()

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours           0
Annual Salary        8022
Hourly Rate             0
dtype: int64

In [7]:
salaries[salaries['Salary or Hourly'] == 'Salary'].isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary            0
Hourly Rate          25161
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
salaries['Name'].value_counts()

KELLY,  MICHAEL J     4
HERNANDEZ,  JUAN C    4
DELGADO,  JUAN        4
PEREZ,  JOSE A        4
RIVERA,  RICARDO      4
                     ..
POREMBA,  TARA M      1
DAVIS,  STEVEN A      1
JORDAN,  DENISE M     1
HARRIS,  PATRICK C    1
KYLES,  SHEREE A      1
Name: Name, Length: 32880, dtype: int64

In [9]:
salaries[salaries['Name'] == 'PEREZ,  JOSE A'] 
# Entiendo que son diferentes personas y no hay ningun nombre repetido

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
22910,"PEREZ, JOSE A",CHIEF VOUCHER EXPEDITER,OEMC,F,Salary,NaN,69384.0,NaN
22911,"PEREZ, JOSE A",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.2
22912,"PEREZ, JOSE A",LIBRARIAN III,PUBLIC LIBRARY,F,Salary,NaN,92388.0,NaN
22913,"PEREZ, JOSE A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN

In [10]:
# Your code here:
salaries[['Department','Name']].groupby('Department').count()

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
# Your code here:
hourly_wage = salaries[['Salary or Hourly','Hourly Rate']][salaries['Salary or Hourly'] == 'Hourly']
hourly_wage.head()

   Salary or Hourly  Hourly Rate
4            Hourly        19.86
6            Hourly        46.10
7            Hourly        35.60
10           Hourly         2.65
18           Hourly        17.68

In [12]:
# H0: mu = mu_0
# H1: mu != mu_0

alpha = 0.05

mu = hourly_wage['Hourly Rate'].mean()
sigma = hourly_wage['Hourly Rate'].std()
mu_0 = 30
n = hourly_wage['Hourly Rate'].shape[0]

z = ((mu - mu_0)/sigma) * (n**0.5)


pvalue = stats.norm.cdf(-abs(z))*2

print(z)
print(pvalue)

20.619805785501907
1.822887385638274e-94

In [13]:

ztest ,pval = stests.ztest(hourly_wage['Hourly Rate'], x2=None, value=mu_0)
print(ztest)
print(pval)

20.6198057854942
1.8228873859286195e-94

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:

# H0: mu >= mu_0
# H1: mu < mu_0

annual_salary = salaries[salaries['Salary or Hourly'] == 'Salary']['Annual Salary']

mu = annual_salary.mean()
sigma = annual_salary.std()
mu_0 = 86000
n = annual_salary.shape[0]

z = ((mu - mu_0)/sigma) * (n**0.5)

pvalue = stats.norm.cdf(-z)

print(z)
print(pvalue)

ztest ,pval = stests.ztest(annual_salary, x2=None, value=mu_0, alternative = 'larger')
print(ztest)
print(pval)

5.932870515691724
1.4884180821252378e-09
5.932870515690814
1.4884180821334978e-09

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
# Your code here:
pd.crosstab(salaries['Department'], salaries['Typical Hours'], margins=True, margins_name="Total").sort_values('Total', ascending=False)

Typical Hours          10.0  20.0  35.0  40.0  Total
Department
Total                   184  1901   104  5833   8022
STREETS & SAN           176     0    10  1676   1862
WATER MGMNT               0     0     0  1513   1513
OEMC                      0  1229     0    44   1273
AVIATION                  0    18    15  1049   1082
GENERAL SERVICES          0     0     0   765    765
TRANSPORTN                0     0     0   725    725
PUBLIC LIBRARY            0   288     0    11    299
FAMILY & SUPPORT          0   286     0     1    287
CITY COUNCIL              7    36    18     3     64
FINANCE                   0     2     0    42     44
LAW                       0     1    39     0     40
ANIMAL CONTRL             1    18     0     0     19
POLICE                    0    10     0     0     10
MAYOR'S OFFICE            0     1     7     0      8
CULTURAL AFFAIRS          0     0     7     0      7
BUSINESS AFFAIRS          0     7     0     0      7
HUMAN RESOURCES           0     2     2     0      4
COMMUNITY DEVELOPMENT     0     3     1     0      4
HEALTH                    0     0     3     0      3
FIRE                      0     0     0     2      2
PROCUREMENT               0     0     0     2      2
BUDGET & MGMT             0     0     2     0      2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
# Your code here:
# H0: mu < mu_0
# H1: mu >= mu_0

hourly_wage_streets = salaries[(salaries['Department'] == 'STREETS & SAN')&(salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate']

mu = hourly_wage_streets.mean()
sigma = hourly_wage_streets.std()
mu_0 = 35
n = hourly_wage_streets.shape[0]

t = ((mu - mu_0)/sigma) * (n**0.5)

pvalue = stats.t(n-1).cdf(t)

print(t)
print(pvalue)

t, pvalue = stats.ttest_1samp(hourly_wage_streets, popmean = 35, axis =0) 
# Nos devuelve el two tailed p value, habria que dividirlo por dos
print(t)
print(pvalue/2)

-9.567447887851964
1.6689265281767388e-21
-9.567447887848152
1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
# Your code here:
# I = [a,b]

hourly_wage = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

mu = hourly_wage.mean()
sigma = hourly_wage.std()
n = hourly_wage.shape[0]

confidence = 0.95 # 0.975 por arriba y 0.025 por abajo

#h_b = sigma * stats.t(n-1).ppf(0.975)
#
#h_a = sigma * stats.t(n-1).ppf(0.025)
#
#a = mu + h_a
#b = mu + h_b


h = sigma * stats.t(n -1).ppf((1 + confidence) / 2)

a = mu - h
b = mu + h

print(a,b)

9.044768578822303 56.532346853740265

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
# Your code here:
salaries_employee = salaries[salaries['Salary or Hourly'] == 'Salary']['Annual Salary']

mu = salaries_employee.mean()
sigma = salaries_employee.std()

n = salaries_employee.shape[0]

confidence = 0.95

h_b = sigma * stats.t(n-1).ppf((confidence+1)/2)
h_a = sigma * stats.t(n-1).ppf(1-((confidence+1)/2))

a = mu + h_a
b = mu + h_b

print(a,b)

45544.71855637952 128029.28102392354

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [19]:
# Your code here:
# H0: p = p_0
# H1: p != p_0


x = salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]

n = salaries.shape[0]

p = x/n
p_0 = 0.25

z = (p - p_0) /((p_0*(1-p_0))/n)**0.5

p_value = stats.norm.cdf(-abs(z))*2

print(z, pvalue)


s, pvalue = z_test(x, n, p_0, prop_var = p_0) # Para la sigma te utiliza la p en vez de p_0

print(s,pvalue)

-3.470528924426208 3.3378530564707717e-21
-3.470528924426208 0.0005194343954816473